$color-texto1:#7effbec4;
$color-texto2:#ffffff;
$color-texto3:#9c9c9c;
$color-texto4:#311c1c;

$color-fondo1:#ffffff;
$color-fondo2:#858df8;
$color-fondo3:#0b0bdb8e;

$color-hover:#fcff51;

$filtro70:brightness(70%);
$filtro100:brightness(100%);

$rellenocover:cover;

$posicion-relativa:relative;

$espaciado: 1rem;
$alinear-center:center;

$fuente: 10px;

$tipografia1: 'Mr Dafoe', cursive;
